<div class="container">
    <div class="row">
      <div class="col">
        {{i+1}}. {{empleado.nombre}} {{empleado.apellido}} {{empleado.cargo}} {{empleado.salario}}
        <a [routerLink]="['/Actualizar', i]" [queryParams]="{accion:1}">
          Actualizar    
        </a>
        <a [routerLink]="['/Actualizar', i]" [queryParams]="{accion:2}">
          Eliminar
        </a>
      </div>
      <ul style="list-style: none;">
        <li *ngFor="let caracteristica of caracteristicasE">{{caracteristica}}</li>
      </ul>
      <app-caracteristicas-e (caracteristicas)="insertarCarac($event)"></app-caracteristicas-e>
     
    </div>
  </div>